<div class="container-fluid d-flex justify-content-center align-items-center flex-column">
  <h1>URL Shortener</h1>
  <h5>Your URL</h5>
  <a href="/{{url.longurl}}">http://localhost:3000/{{url.longurl}}</a>
  <h5>Below is your shortened URL.</h5>
  <a href="/{{url.shorturl}}">http://localhost:3000/{{url.shorturl}}</a>
  </div>
</div>

